/* inika-700 - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
  }
  
  /* inika-regular - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
  }

  /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }

* {
    transition: 1s;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.fixed-page {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.colortext-gray {
    color: #717171;
}

.colortext-green {
    color: #499A18;
  }

.colortext-orange {
    color:#E06733;
}

.colortext-black {
    color: #000000;
}

.header {
    height: 134px;
    background-color: #edf2ec;
}

.header-container {
    width: 362px;
    height: 50px;
    margin: 0 auto;
    font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
  }

.nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: #010201;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

.welcome {
    display:f;
    height: 532px;
    background-color: #edf2ec;
}

.welcome-conent {
    width: 549px;
    height: 340px;
}

.welcome-top{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 2;
    }

.welcome-p {font-family: 'Inter';font-style: normal;font-weight: 400;font-size: 20px;line-height: 35px;margin: 20px 0;}

.button-start {
    cursor: pointer;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

a:hover {
    color:#E06733;
}


.button-start:hover,
.button-service:hover,
.button-prices:hover {
        background-color:#E06733;
        color: #edf2ec;
        transition: 0.7s;
}

.about {
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: #ffffff;
    height: 666px;
}

.about-section {
    width: 1222px;
    height: 479px;
    margin: 93px 109px 94px 109px;
}

.about-div{
    width: 605px;
    height: 305px;
    margin-top: 67px;
    display: inline-block;
    vertical-align: top;
}

.about-top {
    width: 463px;
    height: 102px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.about-text{
    margin-top: 20px;
    width: 605px;
    height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.img-about {
    width: 464px;
    height: 479px;
    display: inline-block;
    margin-left: 149px;
}

.service {
    height: 1300px;
    background-color: #edf2ec;
}

.services-content{
    display:inline-block;
    width: 306px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin: 0 109px;
}

.container-btn-blockservice{
    display: inline-block;
    width: 559px;
    margin-top: 22;
}


.container-btn-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-service {
    cursor: pointer;
    width: 161px;
    height: 50px;
    background-color: #edf2ec;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.blockservices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    width: 1222px;
    height: 955px;
    margin: 9px 109px 121px;
    padding: 0;
}

.container-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}

.imgservice {
    text-align: center;
}

.service-item-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.service-item-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.prices {
    height: 560px;
    background-color: #ffffff;
}

.prices-block {
    width: 332px;
    height: 391.01px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.prices-top {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.prices-item {
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices-item-btn {
    width: 250px;
    height: 282px;
}

.prices-btn {
    /* vector-effect: non-scaling-stroke; */
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.prices-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.button-prices {
    cursor: pointer;
    width: 162px;
    height: 50px;
    background-color: #ffffff;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
}

.contacts {
    height: 550px;
    background-color: #edf2ec;
}

.contacts-content {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

.contacts-form {
    width: 450px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #d6e7d2;
}

.footer {
    height: 130px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}